<!-- Sidebar -->
<div class="sidebar-fixed position-fixed" style="width: 100px;display: block;">

  <a class="logo-wrapper waves-effect">
    <img src="../../../../assets/img/angular-mdb.png" class="img-fluid" alt="">
  </a>

  <div class="list-group list-group-flush">
    <a
      routerLink="visit-list"
      routerLinkActive="active"
      class="list-group-item list-group-item-action waves-effect p-1"
      style="margin: auto !important;
             display: flex !important;
             flex-direction: column !important;
             align-items: center !important;">
      <mdb-icon fas icon="user"></mdb-icon>Agents</a>

  </div>

</div>
<!-- Sidebar -->
